<link rel="stylesheet" type="text/css" href="/style.css"/>

    <div class="new-container">
        <div class="new-form">
            <div class="form-image">
                <h2 class="new-title">Edit your Tea</h2>
            </div>
        
            <form class="new-data" action="/home/<%=id%>/update?_method=PUT" method="POST">
    
                <div class="input">
                    <input class='new-field' value='<%=company %>' type='text' name='company'/>
                    <label class='field-label' for='company'>Company Name</label>
                </div>
    
                <div class="input">
                    <input class='new-field' value='<%=img %>' type='text' name='img'/>
                    <label class='field-label' for='img'>Image</label>
                </div>
    
                <div class="input">
                    <input class='new-field' value='<%=city %>' type='text' name='city'/>
                    <label class='field-label' for='city'>City</label>
                </div>
    
                <div class="input">
                    <input class='new-field' value='<%=state %>' type='text' name='state'/>
                    <label class='field-label' for='state'>State</label>
                </div>
    
                <div class="input">
                    <input class='new-field' value='<%=title %>' type='text' name='title'/>
                    <label class='field-label' for='title'>Title</label>
                </div>
    
                <div class="input">
                    <input class='new-field' value='<%=compensation %>' type='text' name='compensation'/>
                    <label class='field-label' for='compensation'>Base Pay</label>
                </div>
    
                <div class="input">
                    <input class='new-field' value='<%=years %>' type='text' name='years'/>
                    <label class='field-label' for='years'>Years at Company</label>
                </div>
    
                <div class="input">
                    <input class='new-field' value='<%=gender %>' type='text' name='gender'/>
                    <label class='field-label' for='gender'>Gender</label>
                </div>
    
                <div class="input">
                    <input class='new-field' value='<%=review %>' type='text' name='review'/>
                    <label class='field-label' for='review'>Tell us about your experience:</label>
                </div>
    
                <input class='new-submit-btn' type="submit" />
                <a  class='new-cancel-btn' href="/home">Cancel</a>
            </form>
        </div>
    
    </div>
