<link rel="stylesheet" type="text/css" href="/style.css"/>

<div class="photoOne">
    <img src="https://i.imgur.com/480CTSM.jpg" alt="Image of several people in celebration">
</div>

<hr>

<!-- <div class="buttonContainer">
    <a class="button add font" href="/new">create</a>
</div> -->


    <h3 class="second-header">Spilling the Tea </h3>
    <h4 class="blurb">Click on a company's icon to learn about people's salaries.</h4>


<div class="container">
    <% stuff.forEach(v => { %> 
        <div class="cards">
            <a href="/<%=v.id%>"> <img src="<%=v.img %>" height ="150" width="200"/></a>

            <!-- <div class="cardButtonsParent">
                <a class="button submit font" href="/<%=v.id%>">View</a>
                <a class="button submit font" href="/<%=v.id%>/edit">Edit</a>


                <form class="removeFormMargin" action="/<%=v.id%>/remove?_method=DELETE" method="POST">
                    <input class="button cancel font" type="submit" value="Delete"/>
                </form> 

            </div> -->
            
        </div>

    <% }) %>
</div>